{% extends "quiz_app/layout.html" %}
{% block title %}
Home page
{% endblock %}

{% block content %}

<!-- CSS location - style.css -->

<div class="container-fluid" id="home">
	<div class="home_div row justify-content-center">
		<div class="home_div_content col-12 col-md-5 my-4">
			<h2>Welcome</h2>
			<br>
			{% if not request.user.is_authenticated %}
			<h5>Please Enter Login Credentials and the Quiz Code:</h5>
			{% else %}
			<h5>Please Enter the Quiz Code:</h5>
			{% endif %}
			<form class="quiz_form" action="" method="POST" id="codeForm">
				{% csrf_token %}
				{{ quizForm.email }}
				{{ quizForm.password }}
				{{ quizForm.key }}
				<button type="submit" class="btn btn-lg">Submit</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}