/* 
CSS FILE FOR THE LOGIN AND SIGNUP FORM 
*/

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}

.formBlock {
    padding: 40px 40px;
    border-radius: 8px;
    width: 450px;
}
.formBlock button.btn-block{
    background:var(--nav) !important;
    color:#fff;
}

a.form-link {
    color: #222;
    text-decoration:none;
}

a.form-link:hover {
    color: #000;
    border-color: #000;
}

input[type=submit]:hover {
    cursor: pointer;
}